.swap {
  cursor: pointer;
}

.container {
  padding: 40px;
}

.card {
  background: #612F74;
  border: 0px;
  color: white ;
}

.quantCor {
  color: #aeea00;
}

.dataCor{
  color: #4fc3f7;
  font-size: 18px;
  font-weight: bold ;
}